@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.verses-container {
  background-color: #f3f4f6; /* bg-gray-100 */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.5rem 0.8rem 0 1.2rem; /* p-6 */
  margin: 0.5rem 1rem 1rem; /* mt-2 mx-4 mb-4 */
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06); /* shadow-inner */
  font-family: 'Georgia', serif;
  color: #333;
  text-align: left;
  position: relative;
}

.verses-container ol {
  padding: 0 0 0 30px; /* Reduced padding for mobile */
  margin: 0;
  counter-reset: item; /* Reset the counter for list items */
}

.verses-container li {
  counter-increment: item; /* Increment the counter for each list item */
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-size: 1.2em; /* Increased font size for verses */
  position: relative; /* Added to position the numbers */
}

.verses-container li::before {
  content: counter(item) ". "; /* Display the counter number */
  position: absolute; /* Position the number absolutely */
  left: -40px; /* Adjusted left position for reduced padding on mobile */
  top: 0; /* Align the number with the top of the list item */
  font-size: 1.6em; /* Adjusted font size for mobile */
  color: #333; /* Color of the numbers */
  text-align: right;
}

.verses-container li:last-child {
  border-bottom: none;
}

.verses-container li em {
  display: block; /* Makes the explanation appear on a new line */
  margin-top: 5px; /* Adds spacing between the verse and the explanation */
  font-size: 0.9em; /* Smaller font size for explanations */
  font-weight: 100;
}

@media (max-width: 640px) {
  .verses-container ol {
    padding-left: 20px; /* Further reduce padding for smaller screens */
  }

  .verses-container li::before {
    left: -35px; /* Adjust left position for smaller screens */
    font-size: 1.6em; /* Reduce font size for smaller screens */
  }
}